<div class="divider"></div>
<div class="stats-card-container">
  <div class="card-wrapper">
    <md-card-content>
      <md-card class="stats-card-type">
        <md-card-header>
          <md-card-title><span class="md-headline">{{staticDataService.getLanguageNameMappings(domain)}}</span>
          </md-card-title>
          <md-card-subtitle></md-card-subtitle>
        </md-card-header>
        <table class="lang-top-words-table">
          <tr *ngFor="let word of words; let i=index">
            <td class="sumary-table-cell"><span [style.color]="flashActive[i] ? 'red' : 'white'">{{word.word}}</span>
            </td>
            <td class="sumary-table-cell"><span [style.color]="flashActive[i] ? 'red' : 'white'">{{word.count}}</span>
            </td>
          </tr>
        </table>
      </md-card>
    </md-card-content>
  </div>
</div>
