  <div class="divider"></div>

  <div class="stats-card-container">
    <div class="card-wrapper">
      <md-card-content>
      <md-card class="stats-card-type">
        <md-card-header>
          <md-card-title><span class="md-headline">Page Update Rate</span></md-card-title>
          <!--<md-card-subtitle>events / second</md-card-subtitle>-->
        </md-card-header>
        <md-card-content>
          <div id="chartdiv" [style.width.%]="100" [style.height.px]="200"></div>
        </md-card-content>
      </md-card>
      </md-card-content>
    </div>
  </div>
