<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <h3>Live Data</h3>
    <div><a routerLink="/rt-activity">Update Rates</a></div>
    <div><a routerLink="/rt-top-words">Top Words</a></div>
  </md-sidenav>
  <div class="main-content">
    <md-toolbar>
      <span class="title-span">Wiki Eye</span><md-icon>visibility</md-icon>
      <span class="middle-space">&nbsp;</span>
      <span>
            <!--<button md-mini-fab class="example-fab" (click)="sidenav.toggle()">-->
            <!--<md-icon>check circle</md-icon>-->
            <!--</button>-->
      </span>
    </md-toolbar>

    <router-outlet></router-outlet>

  </div>
</md-sidenav-container>
