<div>
  <div class="divider"></div>
  <div class="stats-card-container">
    <div class="card-wrapper">
      <md-card class="stats-card-type">
        <md-card-header>
          <md-card-title><span class="md-headline">Top Words - in targeted page titles over the last hour</span></md-card-title>
          <md-card-subtitle></md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <table class="top-words-table">
            <tr>
              <td class="top-word-cell">
                <top-words domain="en"></top-words>
              </td>
              <td class="top-word-cell">
                <top-words domain="fr"></top-words>
              </td>
              <td class="top-word-cell">
                <top-words domain="de"></top-words>
              </td>
              <td class="top-word-cell">
                <top-words domain="it"></top-words>
              </td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>
            <tr>
              <td class="top-word-cell">
                <top-words domain="es"></top-words>
              </td>
              <td class="top-word-cell">
                <top-words domain="pt"></top-words>
              </td>
              <td class="top-word-cell">
                <top-words domain="nl"></top-words>
              </td>
              <td class="top-word-cell">
                <top-words domain="ja"></top-words>
              </td>
            </tr>
          </table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
