/* You can add global styles to this file, and also import other style files */
html, body, app-root, md-sidenav-container, .main-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

div.mat-card-header-text {
  margin: 0 8px;
  width: 100%;
}

.stats-card-type {
  width: 50em;
}

.stats-card-container {
  text-align: center;
}

.card-wrapper {
  width: 55em;
  display: inline-block;
}

.divider {
  height: 2em;
  width: 100%;
}

.sumary-table-cell {
  min-width: 5em;
  text-align: center;
  border-bottom: 1px darkgreen solid;
}
