<div>

  <div class="divider"></div>

  <div class="stats-card-container">
    <div class="card-wrapper">
      <md-card class="stats-card-type">
        <md-card-header>
          <md-card-title><span class="md-headline">Real Time Event Rate - events / second</span></md-card-title>
        </md-card-header>
        <md-card-content>
          <change-rate-table></change-rate-table>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div class="divider"></div>

  <div class="stats-card-container">
    <div class="card-wrapper">
      <md-card class="stats-card-type">
        <md-card-header>
          <md-card-title><span class="md-headline">Page Updated Rate - events / second</span></md-card-title>
          <!--<md-card-subtitle>events / second</md-card-subtitle>-->
        </md-card-header>
        <md-card-content>
          <wikistats-chart></wikistats-chart>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
